*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color:black;
    line-height: 1.6;
}
header{
    background-color: #1bc605ec;
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position:relative;
}
header img{
    position: absolute; 
    left: 20px; 
    top: 20%; 
    width: 50px; 
    height: auto;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
header nav ul li {
    font-size: 18px;
}
header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}
header nav ul li a:hover {
    background-color: #45a049;
}
.container {
    max-width: 850px;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}

img {
    width: 20px;
    height: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

label {
    font-size: 16px;
    color: #555;
}
input, select, button {
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
}
input:focus, select:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f9f9f9;
    color: #555;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tab-button {
    display: inline-block;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .container {
        padding: 15px;
        width: 95%;
    }

    table, th, td {
        font-size: 14px;
        padding: 8px;
    }
}
